body {
    margin: 0;
    padding: 0;
}

main {
    height: 800vh;
    background-color: turquoise;
}

#level3contain ul h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: yellow;
    border: 1px solid black;
}

#level3contain ul li {
    text-align: center;
    color: white;
    font-size: 30px;
    list-style-type:decimal;
    line-height: 100%;
}

#level3contain ul {
    background-color: blueviolet;
}

#box {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: violet;
    /* text-decoration: line-through;
    text-decoration: overline; */
}

#textTransform {
    text-align: center;
    font-size: 90px;
    color: black;
    /* text-transform: lowercase; */
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color:yellow ;
    text-transform: uppercase;
}

#lineheight {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #c42e2e;
    line-height: 40px;
}

#fontproperties {
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: italic;
}